<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>HomePage</title>
  </head>
    <%- include('../partials/script') %>
  <body>
   <%- include('../partials/nav') %>
  </body>
</html>
